@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e3c08d;
  --background: #000000;
}

@font-face {
  font-family: "TheSeasons";
  src: url("./fonts/theseasons.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--background);
  color: var(--primary);
}

/* Custom Form Styles */
input::placeholder {
  color: rgba(227, 192, 141, 0.6);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #e3c08d;
  -webkit-box-shadow: 0 0 0px 1000px #1a1a1a inset;
  transition: background-color 5000s ease-in-out 0s;
}

.font-seasons {
  font-family: "TheSeasons", serif;
}
